<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>736916398400-quv3t97mbgaj5as8ncuv9o0ejnu7bfct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736916398400-quv3t97mbgaj5as8ncuv9o0ejnu7bfct</string>
	<key>API_KEY</key>
	<string>AIzaSyCicA2-yENHKETh-inLCQJS412ahL3Jwns</string>
	<key>GCM_SENDER_ID</key>
	<string>736916398400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gonzalo.restomap</string>
	<key>PROJECT_ID</key>
	<string>restomap-1530298423159</string>
	<key>STORAGE_BUCKET</key>
	<string>restomap-1530298423159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736916398400:ios:c8d6f572e1a8a840</string>
	<key>DATABASE_URL</key>
	<string>https://restomap-1530298423159.firebaseio.com</string>
</dict>
</plist>